# Servidor
PORT=3000
BASE_URL=https://seu-app.onrender.com

# WhatsApp Cloud API / Meta
WHATSAPP_TOKEN=cole_o_token_permanente_aqui
WHATSAPP_PHONE_NUMBER_ID=cole_o_phone_number_id_aqui
WHATSAPP_VERIFY_TOKEN=moah_acai_verify_123
OWNER_WHATSAPP=5548992069499

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=cole_o_access_token_aqui
MERCADOPAGO_PUBLIC_KEY=opcional
DEFAULT_PAYER_EMAIL=cliente@moahacai.com.br

# Loja
STORE_NAME=Moah Açaí
STORE_PHONE=5548992069499
CURRENCY=BRL
